html
  head
    title='NAGP Assignment'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Tutor!!!
        p Click the button below to head over to see me on linked in...
        p 
          a.btn.btn-primary(href="http://www.linkedin.com/in/vibhu-khurana007") View on LinkedIn
        p